[Unit]
Description=HIVE {{ program }}
Before=
After=network.target


[Service]
Type=forking
User={{ hive_user }}
Group={{ hive_group }}
ExecStart={{ hive_home }}/bin/hive --config {{ hive_conf_dir }}  --service {{ program }}
Restart=on-abort
TimeoutSec=300

[Install]
WantedBy=multi-user.target