#!/usr/bin/env bash

### BEGIN INIT INFO
# Provides:          yarn-{{program}}
# Required-Start:    $remote_fs $network
# Required-Stop:     $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start yarn-{{program}} daemon
# Description: Start yarn-{{program}} daemon
### END INIT INFO

HADOOP_HOME={{ hdfs_hadoop_home }}
HADOOP_CONF_DIR={{ hdfs_conf_dir }}

. $HADOOP_CONF_DIR/yarn-env.sh

HADOOP_PID_DIR=${HADOOP_PID_DIR:-/var/run/}
NAME="yarn-{{program}}"
PIDFILE="$HADOOP_PID_DIR/hadoop-${NAME}.pid"

#. /lib/lsb/init-functions

case "$1" in
  start)
        sudo su - {{yarn_user}} -c "$HADOOP_HOME/sbin/yarn-daemon.sh  start {{program}}"
        ;;
  stop)
        sudo su - {{yarn_user}} -c "$HADOOP_HOME/sbin/yarn-daemon.sh  stop {{program}}"
        ;;
  status)
        status_of_proc -p $PIDFILE "$NAME" "$NAME" && exit 0 || exit $?
        ;;
  restart)
        sudo su - {{yarn_user}} -c "$HADOOP_HOME/sbin/yarn-daemon.sh --config $HADOOP_CONF_DIR  stop {{program}}"
        sudo su - {{yarn_user}} -c "$HADOOP_HOME/sbin/yarn-daemon.sh --config $HADOOP_CONF_DIR  start {{program}}"
        ;;
  *)
        echo "Usage: $0 {start|stop|restart}"
        exit 1
esac

exit 0
